.cl-action-btn-container {
  padding: 20px;
  button {
    height: 40px;
    border-radius: 7px;
    margin-left: 12px;
    background: #83b367;
    color: white;
  }
}

table {
  margin-top: 50px;
  margin-left: 20px;
  border-collapse: collapse;
  th, td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  //tr:nth-child(even) {
  //  background-color: #dddddd;
  //}
  button {
    border-radius: 5px;
    background: #83b367;
    color: white;
  }
}
