<div class="row cl-action-btn-container">
  <div class="col-md-6 row">
    <button class="col-md-3" (click)="addNewCompanyUser()">Add company User</button>
  </div>
</div>
<div>
  <table>
    <tr>
      <th>Company Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone#</th>
      <th>DOT#</th>
      <th>MC#</th>
      <th>Package</th>
      <th>Drivers #</th>
      <th>Users</th>
      <th>Active</th>
      <th>Registered form</th>
      <th>Edit</th>
      <th>Impersonate</th>
    </tr>
    <tr *ngFor="let company of companies">
      <td>{{company.name}}</td>
      <td>{{company.email}}</td>
      <td>{{company.address}}</td>
      <td>{{company.phoneNum}}</td>
      <td>{{company.dotNum}}</td>
      <td>{{company.mcNum}}</td>
      <td>{{company.accountsNum}}</td>
      <td>{{company.driversNumber}}</td>
      <td>{{company.usersNumber}}</td>
      <td>
        <span *ngIf="company.active">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </span>
      </td>
      <td>{{company.creationTime | date:'d MMM, y'}}</td>
      <td>
        <button (click)="editCompany(company)">Edit</button>
      </td>
      <td>
        <button>Impersonate</button>
      </td>
    </tr>
  </table>
</div>
