<div class="row cl-action-btn-container">
  <div class="col-md-6 row">
    <button class="col-md-3">Add company User</button>
  </div>
</div>
<div>
  <table>
    <tr>
      <th>Company Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone#</th>
      <th>DOT#</th>
      <th>MC#</th>
      <th>Package</th>
      <th>Drivers #</th>
      <th>Users</th>
      <th>Active</th>
      <th>Registered form</th>
      <th>Edit</th>
      <th>Impersonate</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>
        <button>Edit</button>
      </td>
      <td>
        <button>Impersonate</button>
      </td>
    </tr>
  </table>
</div>
