<div class="row cl-header">
  <span class="col-md-6 row">
    <span class="col-md-3 cl-app-name">Severina</span>
    <span class="col-md-9 row">
      <span class="cl-tabs">
        <a class="col-md-6" routerLink="/companyUsers" routerLinkActive="active" name="companyUsers">Company Users</a>
      </span>
      <span class="cl-tabs">
        <a class="col-md-6" routerLink="/settings" routerLinkActive="active" name="settings">Settings</a>
      </span>
    </span>
  </span>
  <span class="col-md-6 text-right">Logout</span>
</div>
<div>
  <router-outlet></router-outlet>
</div>


