<div class="row cl-header">
  <span class="col-sm-6 row">
    <span class="col-sm-3">Severina</span>
    <span class="col-sm-4 row">
      <span class="cl-tabs">
        <a class="col-sm-6" routerLink="/companyUsers" routerLinkActive="active" name="companyUsers">companyUsers</a>
      </span>
      
      <span class="cl-tabs">
        <a class="col-sm-6" routerLink="/settings" routerLinkActive="active" name="settings">Settings</a>
      </span>
    </span>
  </span>
  <span class="col-sm-6 text-right">Logout</span>
</div>
<div>
  <router-outlet></router-outlet>
</div>


