.cl-header {
  background: black;
  height: 40px;
  font-weight: 600;
  padding: 7px 10px;
  span {
    color: white;
  }
  .cl-app-name {
    margin-left: 20px;
  }
  .cl-tabs {
    a {
      color: gray;
      text-decoration: none;
      &.active {
        color: white;
      }
    }
  }
}

.row {
  padding-left: 0;
  padding-right: 0;
}
